@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Сброс пароля";
}

<h1 class="font-bold text-3xl text-center">Сброс пароля</h1>
<div class="flex justify-center mt-6">
    <div class="row w-full max-w-md bg-white shadow-md rounded-lg p-6">
        <div class="form-floating">
            <p class="block text-gray-700 font-medium text-center">Пожалуйста проверьте свою почту.</p>
        </div>
    </div>
</div>