@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забыли пароль?";
}

<h1 class="font-bold text-3xl text-center">Забыли пароль?</h1>
<div class="flex justify-center mt-6">

<div class="row w-full max-w-md bg-white shadow-md rounded-lg p-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <p class="block text-gray-700 font-medium">Почта:</p>
                <input asp-for="Input.Email"  autocomplete="username" aria-required="true" class="w-full border border-gray-300 mb-2 rounded-md px-4 py-2 mt-1 focus:ring focus:ring-gray-500" />
            </div>
        <button type="submit" class="bg-zinc-900 text-white py-2 px-8 mt-3 rounded-md w-full">Сбросить пароль</button>
        </form>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
