@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение регистрации";
}
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <div class="flex justify-center mt-6">

            <div class="row w-full max-w-md bg-white shadow-md rounded-lg p-6">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-floating">
                    <p class="block text-gray-700 font-medium">Проверьте свою почту и подтвердите свой аккаунт</p>
                </div>

            </div>
        </div>
    }
    else
    {


        <div class="flex justify-center mt-6">

            <div class="row w-full max-w-md bg-white shadow-md rounded-lg p-6">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-floating">
                        <p class="block text-gray-700 font-medium">Проверьте свою почту и подтвердите свой аккаунт</p>
                    </div>

            </div>
        </div>

    }
}

